@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f8f6;
  --foreground: #1b2a4a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
